attached_assets/Elder_digital_assets_prototype_20S_1773635340385.mov filter=lfs diff=lfs merge=lfs -text
client/public/elder-digital-assets.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/1_1773722737909.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/1_1773723475000.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/3_1773722770350.gif filter=lfs diff=lfs merge=lfs -text
client/public/step3-gif1.gif filter=lfs diff=lfs merge=lfs -text
client/public/step3-gif3.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/2_1773723630914.gif filter=lfs diff=lfs merge=lfs -text
client/public/step3-gif2.gif filter=lfs diff=lfs merge=lfs -text
client/public/step5-gif4.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/galaxsync_sphere_1773725516018.gif filter=lfs diff=lfs merge=lfs -text
client/public/galaxsync-sphere.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/1_1773731661920.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/1_1773731813853.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/2_1773731875029.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/3_1773731661922.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/3_1773731813853.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/4_1773731852522.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/sphere_1773731852521.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/Hero_Image_3_1_1773789473643.png filter=lfs diff=lfs merge=lfs -text
attached_assets/Hero_Image_3_1_1773789730163.png filter=lfs diff=lfs merge=lfs -text
client/public/soma-hero.png filter=lfs diff=lfs merge=lfs -text
